body {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: normal;
    font-family: "PTSans Regular";
    padding: 0;
    margin: 0;
    width: auto;
}
h2 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    font-family: "PTSans";    
}
.features h2 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PTSans";      
}
.background-blue h2 {
    color: #ffffff;     
}
h3 {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    font-family: "PTSans";    
}
container, .main-header, main, footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-header {
    min-height: 56px;
    background: red;
}
.main-header img {
    position: absolute;
    top: 0;
    left: 560px;
}
.main-navigation {
    float: left;
    background: yellow;
    width: 100%;
    min-height: 56px;
    padding-left: 33px;
    box-sizing: border-box;
}
.main-navigation li{
    list-style: none;
    display: inline;
}
.main-navigation li:first-child  {
    float: left;
    width: 20%;
}
.main-navigation li:nth-child(2) {
    padding-left: 30px;
    padding-right: 350px;
}
.main-navigation li:last-child {
    float: right;
    width: 20%;
    padding-right: 73px;
    text-align: right; 
}
.sedona-intro {
    width: 460px;
    margin: 0 auto;
    margin-bottom: 55px;
    margin-top: 70px;
    background-color: red;
}
.sedona-welcome-image {
    margin-bottom: 140px;   
}
.intro-text {
    display:inline;
    text-align: center;
}  
.features  {
    width: auto;
}
.background-blue {
    background: #81b3d2;
    min-height: 255px;
}
 .features-words {
    float: left;
    width: 400px; 
    text-align: center;
    color: white;
    padding-top: 55px;
}
.features-image {
    width: 800px; 
    float: left;
}
.features-advantage {
    min-height: 195px;
    margin-top: 60px;
    margin-bottom: 85px; 
}
.features-item {
    float: left;
    width: 280px;
    text-align: center;
    margin-right: 118px;
}
 .features-item:first-child {
    margin-left: 62px;
}
.features-item:last-child {
    margin-right: 0px;
}
.background-grey {
    min-height: 149px;
    width: auto;
    background: #eeeeee;
    width: auto;
    padding-top: 45px;
    padding-bottom: 60px;
}
.background-grey .features-words {
    width: 280px;
    color: black;
    margin-right:105px;
    padding-top: 0px;
}
.background-grey .features-words:first-child {
    margin-left: 90px;  
}
.background-grey .features-words:last-child {
    margin-right: 0px;  
}
.intro-reseach {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 135px;
} 
.reseach-top {
    width: 570px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    background: #766357;
    position: absolute;
    top: 2070px;
    left: 347px;
}
.reseach-form {
    width: 570px;
    min-height:  340px;
    margin: 0 auto;
    background: white;
    border: 1px solid black;
    position: absolute;
    left: 347px;
    padding-top: 55px;
}
.map-reseach img{
    width: 100%; 
    height: 473px;
}
.main-footer {
    width: 1200px;
    min-height: 70px;
    padding-top: 50px;
    background: yellow;
}
.footer-hashtag {
    width: 200px;
    float: left;
    margin-left: 101px;
    text-align: center;
    margin-right: 160px;
} 
.hashtag {
    padding: 0;
    margin: 0;
     
}
.social-media {
    float: left;
    width: 280px;
    text-align: center;
    margin-right: 116px;
}    
.footer-link {
    float: right;
    width: 280px; 
    text-align: center;
}
.website {
    padding: 0;
    margin: 0;
    margin-right: 60px;
}
.choice-hotel {
    min-height: 220px;
    background: red;
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 15px;
}
.search-content-right {
    float: right; 
}
.legend-left {
    float: left;
    width: 200px;
}
.legend-right {
    float: left;
    width: 200px; 
}
.filter-row {
    padding-bottom: 25px;
}
.filter-sorting {
    min-height: 85px;
    padding-left: 73px;
    padding-top: 33px;
    background-color: darkcyan;
}
.filter-sorting h2{
    float: left;
    width: 120px;
    margin: 10px;
    padding-right: 35px;
}
.sorting {
    float: left;
    width: 90px;
}
.parameters {
    width: 280px;
    float: left;
}
.parameters li {
    list-style: none;
    display: inline;
    padding-right: 30px;
    vertical-align: left;
}
.results-hotel {
    min-height: 150px;
    border: 1px solid red;
}
.hotel-item-left {
    float: left;
    margin-left: 73px;
    margin-top: 30px;
}
.hotel-item-right {
    float: right;
    margin-top: 90px;
    padding-right: 15px;
}
.image-hotel {
    float: left;
}
.image-hotel img{
    width: 135px;
    height: 92px;
}
.type-hotel {
    float: left;
    margin-left: 30px;
}
.type-hotel h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.hotel-detail {
    float: left;
    margin-right: 30px;
    min-height: 60px;
}